@import url("AppCSSVariables.css");

.explore-panel-search {
  display: flex;
  align-items: center;

  justify-content: space-between;

  padding: 0px 16px;

  gap: 36px;

  z-index: 10;
  position: relative;
}

.explore-panel-search svg {
  height: 20px;
  width: 20px;
}

.explore-panel-search .search-icon path {
  fill: #898994;
}

.explore-panel-search .gear-icon {
  position: absolute;
  margin-top: 12px;
  width: 20px !important;
  height: 20px !important;
  right: 24px;
}

#explore-panel-search-form {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--search-bar-color);
  padding: 12px 16px;
  border-radius: 24px;
  max-width: 475px;
  width: 100%;
  margin-top: 12px;
}

#explore-panel-search-form input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 15px;
  min-width: none;

  color: var(--secondary-text-color);
}

@media (max-width: 680px) {
  #explore-panel-search-form {
    width: 81%;
  }
}

@media (max-width: 500px) {
  #explore-panel-search-form {
    padding: 4px 0px;
    width: 65%;
    padding-left: 16px;
    margin-left: 15%;
  }
}
