#show-password-checkbox {
  display: none;
}

#show-password-checkbox + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 15px;

  display: inline-block;
  color: #666;
  user-select: none;
}

input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #666;
  background-color: #f2f2f200;
  border-radius: 3px;
}

input[type="checkbox"]:checked + label:before {
  content: "✖";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 18px;
  height: 18px;
  border: 1px solid #4caf50;
  background-color: #4caf50;
  border-radius: 3px;
  text-align: center;
  line-height: 19px;
  color: white;
  font-weight: bold;
}

.show-password-checkbox-container {
  display: flex;
  align-items: center;
  gap: 8px;
}
