:root {
  --primary-color: #2bbf69;
  --secondary-color: rgb(22, 24, 28);
  --primary-button-border-color: rgba(58, 219, 125, 0.593);
  --transparent-background-color: rgba(200, 255, 239, 0.301);
  --secondary-text-color: #747474;
  --primary-text-color: #fff;
  --follow-button-color: #fff;
  --follow-button-text-color: black;
  --link-text-color: #22ba3d;
  --thin-border-color: rgb(47, 51, 54);
  --popup-background-color: black;
  --search-bar-color: #202327;
}
