.empty-twat-list-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.empty-twat-list-wrapper div {
  width: 350px;
}

.empty-twat-list-wrapper h1 {
  margin: 0;
}

.empty-twat-list-wrapper p {
  font-size: 16px;
  color: #6a6f74;
  margin-top: 8px;
}
