.explore-tweet-topic-container {
  color: #64686d;
  font-size: 14px;
  padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 4px;
  transition: 0.2s all;
  cursor: pointer;
}

.explore-tweet-topic-container:hover {
  background-color: #0a0a0a;
}

.explore-tweet-topic-container h1 {
  font-size: 16px;
  color: white;
  margin: 0;
  padding: 0;
}

.tweet-topic-top svg {
  height: 20px;
  width: 20px;
}

.tweet-topic-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
