.explore-panel-navbar-container {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  color: #6d7277;
  padding: 0;
  align-items: center;
  width: 100%;

  font-weight: 400;

  border-bottom: 1px solid rgb(47, 51, 54);
  margin-bottom: 0;
}

.explore-panel-navbar-container li {
  padding: 16px 0px;

  font-size: 15px;
  text-align: center;

  pointer-events: none;
}

.explore-panel-navbar-container div {
  padding: 0px 24px;
  transition: 0.2s all;
  width: 100%;
  cursor: pointer;

  user-select: none;
}

.explore-panel-navbar-container div:hover {
  background-color: rgb(36, 36, 36);
}

.selected-tab {
  position: relative;
  font-weight: 600;
  color: white;
}

.selected-tab:after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  display: block;
  background-color: #1d9bf0;
  width: 100%;
  height: 3px;
  border-radius: 3px;
}
