@import url("AppCSSVariables.css");

.explore-panel-search {
  display: flex;
  align-items: center;

  justify-content: space-between;

  padding: 0px 16px;

  gap: 36px;

  z-index: 10;
  flex-shrink: 1;
}

.explore-panel-search svg {
  height: 20px;
  width: 20px;
}

.explore-panel-search .gear-icon {
  margin-top: 12px;
  width: 24px;
  height: 24px;
}

#explore-panel-search-form {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: var(--search-bar-color);
  padding: 12px 16px;
  border-radius: 24px;
  width: 100%;
  margin-top: 12px;
}

#explore-panel-search-form input {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 15px;

  color: var(--secondary-text-color);
}

@media (max-width: 500px) {
  #explore-panel-search-form {
    padding: 4px 16px;
    margin-left: 54px;
  }
}
