.home-panel-container {
  height: 100%;
  border-left: 0.5px solid rgb(47, 51, 54);
  border-right: 0.5px solid rgb(47, 51, 54);

  width: 100%;

  color: white;
  width: 600px;

  display: flex;
}

.home-panel-header {
  position: fixed;

  width: 600px;
  backdrop-filter: blur(20px);
}

.home-panel-main-feed {
  margin-top: 100px;
  width: 600px;
}
