@import url("AppCSSVariables.css");

.home-panel-header-container {
  position: sticky;

  top: 20px;
}

.home-panel-header-text {
  font-size: 20px;
  margin-left: 14px;
}

.home-panel-navbar {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  color: var(--secondary-text-color);
  padding: 0;
  align-items: center;
  width: 100%;

  font-weight: 400;

  border-bottom: 1px solid var(--thin-border-color);
  margin-bottom: 0;
}

.home-panel-navbar div {
  padding: 16px 0px;

  font-size: 15px;

  margin: 0;
  width: fit-content;
  pointer-events: none;
}

.home-panel-navbar li {
  padding: 0px 24px;
  transition: 0.2s all;
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  user-select: none;
}

.home-panel-navbar li:hover {
  background-color: rgb(36, 36, 36);
}

.selected-tab-home {
  position: relative;
  font-weight: 600;
  color: var(--primary-text-color);
}

.selected-tab-home:after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: -5%;
  display: block;
  background-color: var(--primary-color);
  width: 110%;
  height: 3px;
  border-radius: 3px;
}

@media (max-width: 500px) {
  .home-panel-header-text {
    margin-left: 0px;
    display: flex;
    justify-content: center;
  }
}
