@import url("AppCSSVariables.css");

.loading-panel-wrapper {
  width: 100%;
  max-width: 600px;

  border-left: 1px solid var(--thin-border-color);
  border-right: 1px solid var(--thin-border-color);
  height: 110vh;

  display: flex;
  justify-content: center;
  padding-top: 25%;

  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 500px) {
  .loading-panel-wrapper {
    padding-top: 80%;
  }
}
