.main-right-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  z-index: 1;
}

.test {
  position: sticky;
  top: -160px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
