@import url("AppCSSVariables.css");

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 6px;
  box-sizing: border-box;
}

.tab-list-item svg {
  height: 28px;
  width: 28px;
}

.tab-list-item {
  padding: 4px 0px;
  cursor: pointer;
}

.tab-items {
  display: flex;
  align-items: center;
  gap: 20px;

  margin: 0;

  font-size: 21px;
  font-weight: 300;
  color: rgb(255, 255, 255);

  width: max-content;
  border-radius: 32px;

  padding: 12px;

  transition: 0.2s all;

  pointer-events: none;
  box-sizing: border-box;
}

.tab-items p {
  padding-right: 16px;
}

.logo-item {
  padding: 12px;
  height: 28px;
  width: 28px;

  transition: 0.2s all;
  border-radius: 50%;
  display: flex;
  align-items: center;

  cursor: pointer;
}

.logo-item:hover {
  background-color: rgba(95, 95, 95, 0.277);
}

.tab-list-item:hover .tab-items {
  background-color: rgba(95, 95, 95, 0.277);
}

.left-section-tab-selected {
  box-sizing: border-box;
  font-weight: 800;
  color: rgb(236, 236, 236);
}

.main-nav-tabs-list-no-auth {
  min-width: 275px;
}

@media (max-width: 1290px) {
  .user-tab-wrapper svg {
    display: none;
  }
  .user-tab-wrapper .names-group {
    display: none;
  }
}
