.main-right-section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  width: 350px;
}

.side-panels {
  position: sticky;
  top: -160px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 3;
}

@media (max-width: 1095px) {
  .main-right-section-wrapper {
    width: 290px;
  }
}

@media (max-width: 1003px) {
  .main-right-section-wrapper {
    display: none;
  }
}
