@import url("AppCSSVariables.css");

.main-left-section {
  background-color: rgb(0, 0, 0);
  height: 100%;

  box-sizing: border-box;

  position: sticky;
  top: 0;
}
.ribbit-button-left {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
  padding: 16px 0px;
  box-sizing: border-box;
  min-width: 233px;

  border-radius: 36px;
  font-weight: 700;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.fixed-left-section {
  display: flex;
  flex-direction: column;
  height: 100vh;

  justify-content: space-between;
}

.main-left-section .main-nav-tabs-list {
  padding-left: 0;
}

.main-left-section .ribbit-button-logo {
  width: 24px;
  height: 24px;
}

.main-left-section .ribbit-button-logo {
  display: none;
}

@media (max-width: 1280px) {
  .fixed-left-section,
  .main-nav-tabs-list-no-auth {
    min-width: auto;
  }

  .tab-items p {
    display: none;
  }

  .ribbit-button-left {
    min-width: auto;
    padding: 14px;
    margin-left: 2px;
  }
  .main-left-section .ribbit-button-logo {
    display: block;
  }

  .main-left-section .button-text {
    display: none;
  }
}

@media (max-width: 703px) {
  .main-left-section {
    margin-left: 14px;
  }

  .fixed-left-section {
    align-items: center;
  }

  .user-tab-container {
    padding-left: 16px !important;
    padding-right: 4px !important;
  }
}

@media (max-width: 500px) {
  .main-left-section {
    display: none !important;
  }
}

@media (max-width: 1095px) {
  .main-nav-tabs-list-no-auth {
    padding-left: 0;
  }
}
