.profile-panel-container {
  height: 100%;
  border-left: 0.5px solid rgb(47, 51, 54);
  border-right: 0.5px solid rgb(47, 51, 54);

  width: 100%;

  color: white;
  width: 600px;

  display: flex;
  flex-direction: column;
}

.profile-panel-top-header {
  box-sizing: border-box;
  position: fixed;
  width: 600px;
  backdrop-filter: blur(11px);
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  height: 53px;
  gap: 24px;
  padding-left: 8px;
  z-index: 5;
}

.profile-panel-top-header .back-arrow {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  transition: 0.2s all;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.profile-panel-top-header .back-arrow:hover {
  background-color: rgb(23, 23, 23);
}
.profile-panel-top-header .back-arrow svg {
  height: 20px;
  width: 20px;
}

.username-tweet-count {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.username-tweet-count h1 {
  font-size: 20px;
}

.username-tweet-count p {
  font-size: 14px;
  color: rgb(87, 91, 95);
}

.username-tweet-count h1,
.username-tweet-count p {
  margin: 0;
  padding: 0;
}

.user-banner {
  width: fit-content;
  max-width: 600px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  margin-top: 53px;
}

.user-twat-feed {
  margin-bottom: 50%;
}

.loading {
  width: 601px;
}
