.profile-panel-info-container {
  display: flex;
  flex-direction: column;
  padding: 12px 16px;

  cursor: default;
}

.profile-info-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;
}

.profile-info-top img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

.edit-profile-button {
  color: white;
  border-radius: 24px;
  border-color: rgb(82, 99, 112);
  border-width: 1px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 16px;
  outline: none;
  border-style: solid;
  cursor: pointer;
}
.profile-img-wrapper {
  background-color: black;
  padding: 4px;
  position: absolute;
  top: -80px;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-panel-info-container h1 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  margin-top: 36px;
}

.profile-panel-info-container p {
  margin: 0;
}

.profile-panel-info-container .user-handle {
  color: rgb(100, 105, 109);
  margin-bottom: 16px;
}
.profile-panel-info-container .user-bio {
  margin-bottom: 12px;
}

.profile-panel-info-container .user-join-date,
.profile-panel-info-container .user-location {
  margin-bottom: 16px;
  color: rgb(100, 105, 109);
  display: flex;
  align-items: center;
}

.profile-panel-info-container .user-join-date svg,
.profile-panel-info-container .user-location svg {
  width: 19px;
  height: 19px;
  margin-right: 4px;
}

.profile-panel-info-container .user-following-nums {
  font-size: 14px;
  color: rgb(100, 105, 109);
  display: flex;
  gap: 16px;
  cursor: pointer;
}

.profile-panel-info-container .user-following-nums span:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.user-bio {
  color: rgb(219, 221, 222);
}

.misc-user-info {
  display: flex;
  gap: 12px;
}
