@import url("AppCSSVariables.css");

.ribbit-button-mobile-container {
  display: none;
}

.ribbit-button-mobile-fixed {
  background-color: var(--primary-color);
  padding: 16px;
  position: fixed;
  right: 16px;
  bottom: 70px;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all;
}

.ribbit-button-mobile-fixed:active {
  background-color: rgb(46, 176, 100);
}

.ribbit-button-mobile-fixed svg {
  width: 24px;
  height: 24px;
}
