@import url("AppCSSVariables.css");

.signup-footer-container {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 65px;
  z-index: 10;
  color: var(--primary-text-color);
  background-color: var(--primary-color);

  display: flex;
  justify-content: center;
  box-shadow: 0px 17px 20px 10px rgb(255, 255, 255);
}

.signup-footer-wrapper {
  width: 100%;
  max-width: 975px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-block {
  width: 300px;
}

.signup-footer-container h1,
.signup-footer-container p {
  margin: 0;
  padding: 0;
}

.signup-text-group {
}

.signup-button-group {
  display: flex;
  gap: 12px;
}

.signup-button-group button {
  padding: 8px 16px;
  border-radius: 24px;
  font-size: 18px;
  cursor: pointer;
}

.signup-text-group h1 {
  font-size: 25px;
}

.login-button {
  background-color: var(--primary-color);
  color: white;
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  outline: none;

  border-style: solid;
  font-weight: bold;
  transition: 0.2s all;
}

.signup-button {
  background-color: white;
  color: black;
  border: none;
  font-weight: 300;
  transition: 0.2s all;
}

.signup-button:hover {
  background-color: rgb(220, 220, 220);
}

.login-button:hover {
  background-color: rgb(54, 192, 111);
}

@media (max-width: 1280px) {
  .footer-block {
    width: 100px;
  }
}

@media (max-width: 1095px) {
  .signup-footer-wrapper {
    max-width: 900px;
  }

  .footer-block {
    width: 50px;
  }
}
@media (max-width: 1005px) {
  .signup-footer-wrapper {
    max-width: 600px;
  }
}

@media (max-width: 700px) {
  .footer-block {
    display: none;
  }

  .signup-footer-wrapper .signup-text-group {
    display: none;
  }

  .signup-footer-wrapper .signup-button-group {
    width: 100%;
    margin: 0px 16px;
  }

  .signup-footer-wrapper .signup-button-group button {
    width: 100%;
  }

  .signup-footer-wrapper {
    max-width: none;
  }
}

@media (max-width: 500px) {
  .signup-footer-container {
    box-shadow: none;
    border-top: 1px solid rgb(77, 77, 77);
    background-color: black;
    transition: none;
  }

  .login-button {
    background-color: transparent;
    border: 1px solid rgba(175, 255, 157, 0.572);
    color: var(--primary-color);
    transition: none;
  }

  .signup-button {
    border: none;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    transition: none;
  }
}
