@import url("AppCSSVariables.css");

p {
  margin: 0;
  padding: 0;
}
header {
  padding: 0;
  margin: 0;
}
.twat-container {
  display: flex;
  gap: 12px;
  padding: 12px;

  padding-bottom: 5px;
  font-size: 15px;
  position: relative;

  cursor: pointer;
  transition: 0.2s all;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;

  transition: all 0.6s ease-out;
}

.border-bottom {
  border-bottom: 1px solid var(--thin-border-color);
}

.twat-container:hover {
  background-color: rgb(8, 8, 8);
}

.twat-container .header-user-names {
  display: flex;
  gap: 4px;
}

.twat-container header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 2px;
}

.twat-container img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.img-wrapper {
  position: relative;
}

.twat-container .threaded-profile-img {
  position: relative;
}

.twat-container .threaded-profile-img::after {
  content: "";
  position: absolute !important;
  background-color: rgb(99, 99, 99);
  width: 1px;
  height: calc(var(--distance) - 5px);
  bottom: 0px;
  top: 52px;
  left: 23px;
}

.twat-container svg {
  height: 19px;
  width: 19px;
}

.twat-container-right-side {
  flex: 1;
  pointer-events: none;
}

.more-icon-wrapper {
  width: fit-content;
  padding: 6px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;

  top: -6px;
  right: -1px;
  pointer-events: auto;
  transition: 0.2s all;
}

.more-icon-wrapper:hover {
  background-color: rgba(55, 209, 119, 0.159);
}

.more-icon-wrapper:hover .twat-path {
  fill: var(--primary-color);
}
.twat-icon-button-row {
  display: flex;
  justify-content: space-between;
  max-width: 450px;
  margin-left: -8px;
}

.twat-main-text {
  margin-bottom: 6px;
  font-weight: 300;
}
.grey {
  color: rgb(100, 104, 109);
}

.header-user-names {
  cursor: pointer;
  pointer-events: auto;
}

.header-user-names .username {
  font-weight: 600;
}

.header-user-names .username:hover {
  text-decoration: underline;
}

.twat-option-icon,
.twat-option-icon-heart,
.twat-option-icon-retweet {
  padding: 8px;
  border-radius: 50%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all;
  cursor: pointer;
  pointer-events: auto;
}
path {
  transition: 0.2s all;
}

.twat-option-icon:hover svg path {
  fill: var(--primary-color);
}

.copy-option-icon:hover {
  background-color: rgba(25, 96, 55, 0.258);
}

#twat-option-heart-wrapper:hover svg path {
  fill: rgb(194, 20, 101);
}

.twat-option-icon-retweet:hover svg path {
  fill: #00cfd6;
}

.twat-option-icon-retweet:hover {
  background-color: #07141a;
}

.twat-option-icon-heart:hover {
  background-color: #200914;
}

#twat-option-heart-wrapper,
#twat-option-reply-wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  position: relative;
  pointer-events: all;
  border-radius: 50%;
}

#twat-option-reply-wrapper:hover .twat-option-icon {
  background-color: rgba(25, 96, 55, 0.258);
}

#twat-option-reply-wrapper:hover svg path {
  fill: var(--primary-color);
}

#twat-option-reply-wrapper:hover .reply-count {
  color: var(--primary-color);
}

#twat-option-heart-wrapper .likes-count {
  top: 8px;
}

#twat-option-heart-wrapper .likes-count,
#twat-option-reply-wrapper .reply-count {
  color: var(--secondary-text-color);
  user-select: none;

  transition: 0.2s all;
}

#twat-option-reply-wrapper .reply-count {
  position: absolute;
  top: 25%;
  left: 105%;
}

.liked {
  color: #f91880 !important;
}

a {
  color: inherit;
}

.replying-to-text {
  color: var(--secondary-text-color);
  margin-bottom: 2px;
  margin-top: 2px;
}

.replying-to-handle {
  color: var(--link-text-color);
  pointer-events: auto;
}

.replying-to-handle:hover {
  text-decoration: underline;
}
