@import url("AppCSSVariables.css");

.twat-option-icon,
.twat-option-icon-heart,
.twat-option-icon-retweet {
  padding: 8px;
  border-radius: 50%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all;
  cursor: pointer;
  pointer-events: auto;
}
path {
  transition: 0.2s all;
}

.twat-option-icon-heart:hover svg path {
  fill: rgb(194, 20, 101);
}

#twat-option-heart-wrapper:hover .twat-option-icon {
  border-radius: 50%;
  background-color: #200914;
}

#twat-option-heart-wrapper {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  position: relative;
}

#twat-option-heart-wrapper:hover .likes-count {
  color: rgb(194, 20, 101);
}

#twat-option-heart-wrapper .likes-count {
  pointer-events: all;
  transition: 0.2s all;
  width: 10px;
  display: block;
}

#twat-option-heart-wrapper .likes-count {
  color: var(--secondary-text-color);
  user-select: none;
  position: absolute;
  top: 25%;
}

.liked {
  color: #f91880 !important;
}

a {
  color: inherit;
}
