.twat-panel-container {
  display: flex;
  flex-direction: column;

  width: 600px;
  color: white;

  min-height: 100vh;
  border-left: 1px solid rgb(47, 51, 54);
  border-right: 1px solid rgb(47, 51, 54);
  padding-bottom: 300px;
}
