@import url("AppCSSVariables.css");

.twat-panel-display-container {
  box-sizing: border-box;
  padding-right: 12px;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 10px;
  border-bottom: 0.5px solid var(--thin-border-color);
  position: relative;
}

.twat-panel-display-container .header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  position: relative;
}

.twat-panel-display-container .header svg {
  width: 19px;
  height: 19px;
}

.twat-panel-display-container .text {
  font-weight: 300;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.twat-panel-display-container .user-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.twat-panel-display-container .user-info .user-name {
  font-weight: bold;
}

.twat-panel-display-container .user-info .user-handle {
  font-weight: lighter;
  font-size: 15px;
  color: var(--secondary-text-color);
}

.twat-panel-display-container .user-info img,
.twat-panel-display-container img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin: 0;
}

.twat-panel-display-container .more-button {
  padding: 6px;
  transition: 0.2s all;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 0px;
  height: fit-content;
}

.twat-panel-display-container .date-posted {
  color: var(--secondary-text-color);
}

.twat-panel-display-container .more-button:hover {
  background-color: #07280d9f;
}

.twat-panel-display-container .more-button:hover svg .twat-path {
  transition: 0.3s all;
  fill: var(--primary-color);
}

.twat-panel-display-container .action-buttons {
  display: flex;
  justify-content: space-around;
  border-top: 0.5px solid var(--thin-border-color);
  border-bottom: 0.5px solid var(--thin-border-color);
  padding: 4px 0px;
}

.twat-panel-display-container .action-buttons svg {
  width: 23px;
  height: 23px;
}

.twat-panel-display-container .action-button-wrapper {
  padding: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  width: fit-content;
  transition: 0.2s all;

  cursor: pointer;
}

.twat-panel-display-container .action-button-wrapper:hover {
  background-color: #38802a34;
}

.twat-panel-display-container .action-button-wrapper:hover path {
  transition: 0.2s all;
  fill: var(--primary-color);
}

.twat-panel-display-container .reribbit-action-button:hover path {
  fill: rgb(0, 194, 194);
}

.twat-panel-display-container .reribbit-action-button:hover {
  background-color: rgba(0, 152, 152, 0.108);
}

.twat-reply-form {
  display: flex;
  justify-content: space-between;

  padding-bottom: 16px;
}

.twat-reply-form button {
  border-radius: 24px;
  padding: 6px 16px;
  font-weight: bold;
  background-color: var(--primary-color);
  color: white;
  border: none;
  font-size: 16px;
  width: 75px;
  height: 35px;
  margin-top: 8px;
  cursor: pointer;
}

.reply-form-left-side {
  display: flex;

  gap: 12px;
  width: 100%;
}

.reply-form-left-side #twat-reply-input {
  background-color: transparent;
  border: none;
  font-size: 21px;
  color: var(--primary-text-color);
  outline: none;

  font-family: "Chirp";
  font-weight: 300;
  resize: none;
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
}

.reply-form-left-side #twat-reply-input::placeholder {
  color: #71767b;
}
