@import url("AppCSSVariables.css");

.user-tab-container {
  background-color: transparent;
  max-width: 260px;

  height: 60px;
  color: var(--primary-text-color);

  margin-bottom: 12px;
  border-radius: 48px;

  transition: all 0.3s;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.user-tab-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.user-tab-container svg {
  height: 19px;
  width: 19px;
}

.user-tab-container:hover {
  background-color: rgb(30, 30, 30);
}

.user-tab-container .user-tab-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-tab-left img {
  width: 40px;
  height: 40px;
  border-radius: 24px;
}

.user-tab-left .tweeter-unique-name {
  font-size: 15px;
  color: var(--secondary-text-color);
}
