@import url("AppCSSVariables.css");

.work-inprogress-container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 200px;
  padding-top: 50px;

  color: var(--secondary-text-color);
  flex-direction: column;
}

.work-inprogress-container h1 {
  margin: 0;
  width: 50%;
  color: var(--primary-text-color);
}

.work-inprogress-container p {
  width: 50%;
  margin-top: 12px;
}
